# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
.env
.env.*

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data
*.csv
*.xlsx
*.xls
*.parquet
*.h5
*.db
*.sqlite

# Logs
*.log

# Misc
*.bak
*.tmp
